@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 8
   Case Problem 1

   Rhetoric in the United States Styles for Media
   Author: Adam Dupree
   Date:   11/19/2025

   Filename: ws_media.css

*/

/* VideoPlayer Styles */
video {
	display: block;
	width: 90%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 521px) {
	video {
		width: 360px;
		float: right;
		margin: 10px;
	}
}



/* Track Styles */


